target/
!.mvn/wrapper/maven-wrapper.jar
!.mvn/wrapper/maven-wrapper.properties
*.class
*.jar
*.log
.idea/
.vscode/
*.iml
.DS_Store
*.swp
*.swo
uploads/
.env
*.pem
!*.public.pem
!public.pem
keys/private.pem
src/main/resources/keys/private.pem
