canal.instance.mysql.slaveId=1001
canal.instance.master.address=mysql:3306
canal.instance.dbUsername=root
canal.instance.dbPassword=${MYSQL_ROOT_PASSWORD}
canal.instance.defaultDatabaseName=arknow

canal.instance.filter.regex=arknow\\.outbox
canal.instance.filter.black.regex=

canal.mq.topic=outbox-events
canal.mq.partition=0
canal.mq.partitionsNum=1
canal.mq.partitionHash=arknow.outbox:id

canal.serverMode=kafka
kafka.bootstrap.servers=kafka:9092
kafka.acks=all
kafka.compression.type=none
